[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imageai = "*"
cython = "*"
pillow = "*"
numpy = "*"
opencv-python = "*"
pytest = "*"
tqdm = "*"
scipy = "*"
matplotlib = "*"
mock = "*"
torch = "*"
torchvision = "*"
flask-ml = "*"

[dev-packages]

[requires]
python_version = "3.10"
